---
interface Props {
	title?: string
	description?: string
}
const {title = '', description = "With 3 years of experience, I'm a passionate Full Stack Developer dedicated to crafting innovative solutions. I consistently seek challenging opportunities that unleash my potential, always with an eye on the technological future."} = Astro.props 
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/images/adrian.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Adrián Rodríguez | {title}</title>
		<meta name="description" content={description}>
		
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-5GFYPCN0JM"></script>
		<script type="application/javascript">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-5GFYPCN0JM');
		</script>
	</head>
	<body>
		<slot/>
	</body>
</html>

<style>
	
	body{
		background: rgb(2,0,36);
		background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	}

</style>
